.layer, .ifrm { top: 0; left: 0; }

.layer { width: 100%; height: 100%; background: black; position: absolute; z-index: 1000; filter: Alpha(opacity=60); opacity: 0.6; }

.viewout1 { left: -5000px; position: absolute; }
.viewout1:hover { border: solid red; }

.ifrm { border: none; width: 100%; filter: Alpha(opacity=0); opacity: 0; position: absolute; z-index: 99; }

.fR { float: right; }

.fL { float: left; }

.lbWrap { background: white; position: absolute; }
.lbWrap .closeBtn { background: url(../i/imsIcns1.png); position: absolute; width: 25px; height: 25px; top: 6px; right: 5px; }

.lbCntWrap_ims { font-family: "Arial", Helvetica, sans-serif; font-size: 12px; }
.lbCntWrap_ims h2, .lbCntWrap_ims p { margin: 0; padding: 0; }
.lbCntWrap_ims h2 { font-size: 22px; border-bottom: 1px solid #a2a2a2; padding: 5px 10px; background: #ededed; background: -moz-linear-gradient(top, white 0%, #ededed 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ededed)); background: -webkit-linear-gradient(top, white 0%, #ededed 100%); background: -o-linear-gradient(top, white 0%, #ededed 100%); background: -ms-linear-gradient(top, white 0%, #ededed 100%); background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#ededed',GradientType=0); }
.lbCntWrap_ims .lbCnt1 { margin: 20px 10px; }
.lbCntWrap_ims a { color: #3366ff; text-decoration: none; }
.lbCntWrap_ims .imsLBBtn1 { color: #fff; font-size: 15px; float: left; padding: 6px 15px; margin: 0 15px 0 0; cursor: pointer; border: none; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background: #409bee; background: -moz-linear-gradient(top, #69b8fd 0%, #2186e2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69b8fd), color-stop(100%, #2186e2)); background: -webkit-linear-gradient(top, #69b8fd 0%, #2186e2 100%); background: -o-linear-gradient(top, #69b8fd 0%, #2186e2 100%); background: -ms-linear-gradient(top, #69b8fd 0%, #2186e2 100%); background: linear-gradient(to bottom, #69b8fd 0%, #2186e2 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69b8fd', endColorstr='#2186e2',GradientType=0); }
.lbCntWrap_ims .imsLBBtn1:hover { background: #2581d0; background: -moz-linear-gradient(top, #51a2e8 0%, #0f71cb 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51a2e8), color-stop(100%, #0f71cb)); background: -webkit-linear-gradient(top, #51a2e8 0%, #0f71cb 100%); background: -o-linear-gradient(top, #51a2e8 0%, #0f71cb 100%); background: -ms-linear-gradient(top, #51a2e8 0%, #0f71cb 100%); background: linear-gradient(to bottom, #51a2e8 0%, #0f71cb 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a2e8', endColorstr='#0f71cb',GradientType=0); }
.lbCntWrap_ims .skipLnk { font-size: 14px; line-height: 30px; text-decoration: underline; float: left; }
.lbCntWrap_ims .savLodr { margin: 4px 3px 0; display: none; }
.lbCntWrap_ims .lodr { background: transparent url(../i/inlineLoader.gif) center center no-repeat; height: 16px; width: 16px; display: none; margin: 0 auto; }
.lbCntWrap_ims button.loader .lodr { display: block; }
.lbCntWrap_ims button.loader .txt { display: none; }

@keyframes loadingText { 0% { width: 0px; }
  10% { width: 51px; }
  70% { width: 51px; }
  90% { width: 0px; }
  100% { width: 0px; } }

@-webkit-keyframes loadingText { 0% { width: 0px; }
  10% { width: 51px; }
  70% { width: 51px; }
  90% { width: 0px; }
  100% { width: 0px; } }

em.trigLoad { animation: loadingText 3s ease 0s infinite; -webkit-animation: loadingText 3s ease 0s infinite; }

em.trigLoad { width: 42px; margin: 0 auto; display: block; overflow: hidden; }
