/* line 3, ../sass/_extends.scss */
.lbCntWrap_ims .pspFrmCnt {
  margin: 0;
  padding: 10px;
  position: relative;
}

/* line 9, ../sass/_extends.scss */
.lbCntWrap_ims .pspFrmCnt form {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 15, ../sass/_extends.scss */
.lbCntWrap_ims .pspFrmCnt .row {
  width: 100%;
  overflow: hidden;
  padding: 6px 0;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 12px;
  color: #444444;
}

/* line 12, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt form a {
  color: #3366ff;
}
/* line 16, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row {
  padding: 10px 0;
  color: #666;
  border: 1px solid #fff;
}
/* line 22, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row.act {
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 27, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row.act .rowR h3 label {
  color: #05a30e;
}
/* line 30, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row .rowL {
  width: 5%;
  font-size: 14px;
  line-height: 35px;
  text-align: left;
  float: left;
}
/* line 37, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row .rowR {
  width: 90%;
  float: left;
}
/* line 41, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row .rowR h3 {
  margin: 2px 0;
  padding: 0;
  font-size: 13px;
}
/* line 46, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row .rowR h3 label {
  cursor: pointer;
}
/* line 49, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row .rowR h3 a {
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}
/* line 56, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row .sBtn {
  width: 81px;
  margin-right: 5px;
}
/* line 60, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .row p {
  line-height: 19px;
}
/* line 64, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .skpTxt {
  text-align: right;
  margin: 0;
  padding: 0;
  height: 20px;
}
/* line 70, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .skpTxt .skipLnk {
  font-size: 11px;
}
/* line 74, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .savLodr {
  margin: 6px 3px 0;
  display: none;
}
/* line 78, ../sass/pspForm.scss */
.lbCntWrap_ims .pspFrmCnt .f11 {
  font-size: 11px;
}

@keyframes BGAnim {
  /* line 55, ../sass/_mixins.scss */
  0% {
    background: #fafafa;
  }

  /* line 56, ../sass/_mixins.scss */
  50% {
    border-color: #aaaaaa;
    background: #f0f0f0;
  }

  /* line 57, ../sass/_mixins.scss */
  100% {
    background: #fafafa;
  }
}

@-webkit-keyframes BGAnim {
  /* line 60, ../sass/_mixins.scss */
  0% {
    background: #fafafa;
  }

  /* line 61, ../sass/_mixins.scss */
  50% {
    border-color: #aaaaaa;
    background: #f0f0f0;
  }

  /* line 62, ../sass/_mixins.scss */
  100% {
    background: #fafafa;
  }
}

/* line 64, ../sass/_mixins.scss */
.lbCntWrap_ims .pspFrmCnt .row.act {
  animation: BGAnim 2s;
  -webkit-animation: BGAnim 2s;
}

@keyframes lightBoxAnim {
  /* line 37, ../sass/_mixins.scss */
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  /* line 38, ../sass/_mixins.scss */
  40% {
    margin-top: inherit;
  }

  /* line 39, ../sass/_mixins.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lightBoxAnim {
  /* line 42, ../sass/_mixins.scss */
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  /* line 43, ../sass/_mixins.scss */
  40% {
    margin-top: inherit;
  }

  /* line 44, ../sass/_mixins.scss */
  100% {
    opacity: 1;
  }
}

/* line 46, ../sass/_mixins.scss */
.lbCntWrap_ims .pspFrmCnt {
  animation: lightBoxAnim 1s;
  -webkit-animation: lightBoxAnim 1s;
}
